<div class="interests">
  <h3> Technology, Cruises, Sports </h3><br>
  <h4> Technology: </h4>
  <p> I graduated from Launch Academy in the winter of 2017 in Boston, MA. Launch Academy was my first formal training in web development and it was an amazing experience. <br>
  <p> While at Launch, I learned full stack development. The most rewarding aspect of Launch Academy was knowing what it takes to quickly learn different aspects of development. <br>
  <p> The best part of coding in my mind is being able to debug issues that arise and solve problems on your own. It is such a rewarding process. <br>
  <h4> Cruises: </h4> <br>
  <p> When I'm not coding, Im generally researching my passion ever since I was a little kid, and that is cruising. 
  <p> As of February of 2017, I have been on 23 cruises. The majority of those within the caribbean. I have also taken several cruises throughout the Mediterranean Sea. <br>
  <p> Lines I have sailed include: Carnival, Norweigan, Celebrity, Disney and Royal Caribbean.
  <p> People ask me all the time why I cruise, and its hard to put into words, but a cruise is the best vacation for the entire family because there is so much to do. <br>
  <p> I believe cruising is the best way to vacation because more than 75% of the world is water, so unless you are a well traveled Pope, you will miss out on so much. <br>
  <h4> Sports: </h4> <br>
  <p> When I am not coding or cruising, my love is sports.
  <p> While I am a major fan of all Boston sports, my favorite teams are the Bruins and Patriots! <br>
  <p> I purchased an 11 game ticket package for the '16-'17 season.
</div>
