<div class="birthday">
Born on April 15, 1994
</div>
<div class="education">
  <li> Xaverian Brothers H.S., Westwood MA, 2008-2012 </li> <br>
  <li> Providence College, Providence RI, B.S. Marketing, 2012-2016 </li> <br>
  <li> Launch Academy, Boston MA, Fall 2016-Winter 2017 </li>
</div>
<div class="links">
  <h4> Links: </h4> <br>
  <ul> github.com/mmcderm8 </ul> <br>
  <ul> linkedin.com/in/matthew-mcdermott </ul> <br>
  <ul> twitter.com/theTRUEderm24 </ul>
  <ul> facebook.com/matt.mcdermott.1232 </ul>
  <ul> instagram.com/the_true_derm24 </ul>
</div>
