<div class="birthday">
Born on April 15, 1994
</div>
<br>
<div class="education">
  <li> Xaverian Brothers High School, Westwood MA, 2008-2012 </li>
  <li> Providence College, Providence RI, B.S. Marketing, 2012-2016 </li>
  <li> Launch Academy, Boston MA, Winter 2017 </li>
</div> <br>
<div class="links">
  <h4> Links: </h4>
  <ul> github.com/mmcderm8 </ul>
  
